@import './../node_modules/@aurodesignsystem/design-tokens/dist/tokens/SCSSVariables';

:host {
  --ds-auro-sidenav-text-color: var(--ds-color-text-primary-default, #{$ds-color-text-primary-default});
  --ds-auro-sidenavitem-border-bottom-color: var(--ds-color-border-divider-default, #{$ds-color-border-divider-default});
  --ds-auro-sidenavitem-border-left-color: transparent;
  --ds-auro-sidenavitem-icon-color: var(--ds-color-icon-primary-default, #{$ds-color-icon-primary-default});
  --ds-auro-sidenavsection-border-color: var(--ds-color-border-divider-default, #{$ds-color-border-divider-default});
  --ds-auro-sidenavsection-icon-color: var(--ds-color-icon-primary-default, #{$ds-color-icon-primary-default});
  --ds-auro-sidenavsection-text-color: var(--ds-color-text-primary-default, #{$ds-color-text-primary-default});
  --ds-auro-sidenavsection-trigger-background-hover-color: var(--ds-color-container-ui-secondary-hover-default, #{$ds-color-container-ui-secondary-hover-default});
  --ds-auro-sidenavsection-trigger-border-color: transparent;
}
